In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
# import label encoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, GridSearchCV

In [2]:
Gas = pd.read_csv('C:/TaiLieuHocTap/RMIT/C-2023/BigData/asignment2/cleanned_dataset/Gas_cleaned.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_17512\2184677007.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Gas = pd.read_csv('C:/TaiLieuHocTap/RMIT/C-2023/BigData/asignment2/cleanned_dataset/Gas_cleaned.csv')

In [3]:
Gas

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,Year
0,Coteq Netbeheer BV,GAS Gastransport Services (GASUNIE),Margrietstraat,4175GA,7165BD,HAAFTEN,18,100.0,83.33,78.0,G4,3457.0,0.0,0.00,2018
1,Coteq Netbeheer BV,GAS Gastransport Services (GASUNIE),Oude Deldenseweg,7165BG,7216PN,RIETMOLEN,17,100.0,100.00,76.0,G4,4036.0,0.0,0.00,2018
2,Coteq Netbeheer BV,GAS Gastransport Services (GASUNIE),Wippertdijk,7216PP,7245TG,KRING VAN DORTH,117,100.0,100.00,71.0,G4,3695.0,0.0,0.00,2018
3,Coteq Netbeheer BV,GAS Gastransport Services (GASUNIE),Warfveendijk,7245TH,7245TP,LAREN GLD,26,100.0,100.00,62.0,G4,3307.0,0.0,0.00,2018
4,Coteq Netbeheer BV,GAS Gastransport Services (GASUNIE),Kielersdijk,7245TS,7275AZ,LAREN GLD,81,100.0,97.53,78.0,G4,2306.0,0.0,0.00,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285489,westland-infra,871718518003006694,IN DE BALIJE,3155XA,3155XA,MAASLAND,14,100.0,100.00,79.0,G4,3035.0,0.0,85.71,2020
285490,westland-infra,871718518003006694,KONINGIN JULIANAWEG,3155XB,3155XB,MAASLAND,14,100.0,100.00,86.0,G4,2744.0,0.0,92.86,2020
285491,westland-infra,871718518003006694,KONINGIN JULIANAWEG,3155XC,3155XD,MAASLAND,27,100.0,100.00,93.0,G4,2903.0,0.0,77.78,2020
285492,westland-infra,871718518003006694,KONINGIN JULIANAWEG,3155XE,3155XH,MAASLAND,28,100.0,100.00,86.0,G4,1741.0,0.0,53.57,2020
285493,westland-infra,871718518003006694,MERESTEIJN,3155XJ,3155XK,MAASLAND,19,100.0,100.00,100.0,G4,3163.0,0.0,47.37,2020

In [4]:
print(Gas['net_manager'].value_counts())
print(Gas['purchase_area'].value_counts())

8716892000005              94635
8716874000009              51715
8716892000005              28823
Cogas Infra & Beheer BV    13759
8716886000004              11481
8716921000006               8449
8716874000009               8372
westland-infra              7012
Coteq Netbeheer BV          6774
8716892750009               6555
8716892700004               6146
8716892740000               5825
8716886000004               5781
8716892710003               5190
8716921000006               3792
8716892720002               3380
8716925000002               3227
8716892740000               3227
8716892700004               3079
8716892750009               2688
8716892710003               2588
8716892720002               1666
8716925000002               1325
8716924000003                  5
Name: net_manager, dtype: int64
NG Den Haag                            39895
Pseudo Gos Houten ENBU                 35539
Pseudo-GOS Dordrecht                   26342
GAS Gastransport Services (GASUNIE)    20533
Pseudo-GOS Rotterdam                   19935
Pseudo Gos Hoogland ENBU               14510
NG Leerdam                             12976
Pseudo-GOS Zoetermeer                  10099
Pseudo Gos Veenendaal ENBU             10070
NG Gouda                                9661
Pseudo-GOS Zeist                        9243
NG Noord-Oost Friesland                 8615
Pseudo-GOS Amstelland                   8434
NG Hoekse waard                         8010
Pseudo-GOS Midden Kennemerland          7778
871718518003006694                      7012
Pseudo-GOS Delft                        5803
NG Heemstede                            4660
Schiedam Kethel                         4552
Pseudo-GOS Vlaardingen                  3948
NG Brielle                              3521
NG Waddinxveen                          2540
NG Krimpen                              2532
Achterweg                               2496
Maassluis                               1630
Pseudo-GOS Bleiswijk                    1371
Oranjelaan                               695
Hoek van Holland                         590
Ouderkerk ad Amstel                      558
Ameland                                  435
Halfweg                                  385
Ruigendijk                               351
Moerseweg                                337
Duivendrecht                             234
Graswalseweg                             182
Wildersekade                              16
Pseudo-GOS Weert                           4
unknown                                    1
Weert Trancheeweg                          1
Name: purchase_area, dtype: int64

In [5]:
# handle rare category function from Tran Minh Nhat, my teammate code suggestion
def handle_rare_categories(df, column, threshold=0.05):
    value_counts = Gas[column].value_counts(normalize=True)
    rare_categories = value_counts[value_counts < threshold].index
    Gas[column] = Gas[column].apply(lambda x: 'Other' if x in rare_categories else x)
    return Gas

Gas = handle_rare_categories(Gas, 'net_manager', threshold=0.05)
Gas = handle_rare_categories(Gas, 'purchase_area', threshold=0.05)

In [6]:
print(Gas['net_manager'].value_counts())
print(Gas['purchase_area'].value_counts())

Other            110321
8716892000005     94635
8716874000009     51715
8716892000005     28823
Name: net_manager, dtype: int64
Other                                  128740
NG Den Haag                             39895
Pseudo Gos Houten ENBU                  35539
Pseudo-GOS Dordrecht                    26342
GAS Gastransport Services (GASUNIE)     20533
Pseudo-GOS Rotterdam                    19935
Pseudo Gos Hoogland ENBU                14510
Name: purchase_area, dtype: int64

In [7]:
df_encoded_net_manager = pd.get_dummies(Gas['net_manager'], prefix='net_manager')
Gas = pd.concat([Gas, df_encoded_net_manager], axis=1)
Gas = Gas.drop('net_manager', axis=1)

df_encoded_purchase_area = pd.get_dummies(Gas['purchase_area'], prefix='purchase_area')
Gas = pd.concat([Gas, df_encoded_purchase_area], axis=1)
Gas = Gas.drop('purchase_area', axis=1)

In [8]:
categorical_cols =  ['zipcode_from','zipcode_to', 'street', 'city', 'type_of_connection']
Gas_categorical = Gas[categorical_cols]

In [9]:
Gas_cate = Gas[categorical_cols].apply(LabelEncoder().fit_transform)
Gas = Gas.drop(categorical_cols, axis = 1)
Gas_cate

        zipcode_from  zipcode_to  street  city  type_of_connection
0              87960       88694   18395   159                   6
1              89299       88695   21142   374                   6
2              89300       88696   31554   240                   6
3              89301       88697   30416   247                   6
4              89302       88698   15187   247                   6
...              ...         ...     ...   ...                 ...
285489         51805       51432   13135   275                   6
285490         51806       51433   14528   275                   6
285491         51807       51434   14528   275                   6
285492         51808       51435   14528   275                   6
285493         51809       51436   18014   275                   6

[285494 rows x 5 columns]

In [10]:
Gas = pd.concat([Gas_cate, Gas], axis =1 )

In [11]:
numerical = ['num_connections', 'delivery_perc', 'perc_of_active_connections', 'type_conn_perc', 'annual_consume', 'annual_consume_lowtarif_perc', 'smartmeter_perc']
Gas[numerical] = Gas[numerical].astype('float64')
numerical_columns = Gas.select_dtypes(include=['float64', 'int64']).columns
Gas_numeric = Gas[numerical_columns]
Gas.dtypes

zipcode_from                                           int32
zipcode_to                                             int32
street                                                 int32
city                                                   int32
type_of_connection                                     int32
num_connections                                      float64
delivery_perc                                        float64
perc_of_active_connections                           float64
type_conn_perc                                       float64
annual_consume                                       float64
annual_consume_lowtarif_perc                         float64
smartmeter_perc                                      float64
Year                                                   int64
net_manager_8716874000009                              uint8
net_manager_8716892000005                              uint8
net_manager_8716892000005                              uint8
net_manager_Other                                      uint8
purchase_area_GAS Gastransport Services (GASUNIE)      uint8
purchase_area_NG Den Haag                              uint8
purchase_area_Other                                    uint8
purchase_area_Pseudo Gos Hoogland ENBU                 uint8
purchase_area_Pseudo Gos Houten ENBU                   uint8
purchase_area_Pseudo-GOS Dordrecht                     uint8
purchase_area_Pseudo-GOS Rotterdam                     uint8
dtype: object

In [12]:
# drop the annual_consume_lowtarif_perc column since there is no correlation between the dataset 
Gas = Gas.drop('annual_consume_lowtarif_perc', axis=1)

In [13]:
# count values of each columns 
print(Gas['type_conn_perc'].value_counts())
print(Gas['delivery_perc'].value_counts())
print(Gas['num_connections'].value_counts())

100.00    151157
95.00       8396
96.00       7800
94.00       7064
92.00       5498
           ...
93.83          1
89.55          1
95.58          1
82.46          1
78.43          1
Name: type_conn_perc, Length: 945, dtype: int64
100.00    285488
97.78          2
97.83          1
98.00          1
90.91          1
93.33          1
Name: delivery_perc, dtype: int64
18.0     18139
16.0     17945
24.0     17002
20.0     16524
14.0     15214
         ...
394.0        1
357.0        1
279.0        1
193.0        1
406.0        1
Name: num_connections, Length: 235, dtype: int64

In [14]:
# drop the delivery_perc column since there is mostly 100%
Gas = Gas.drop('delivery_perc', axis=1)

In [15]:
# display outliers
def find_outliers(data):
    # Calculate the interquartile range (IQR)
    for col in list(data.columns):
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1

        # Calculate the lower and upper bounds for outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Count the number of outliers
        num_outliers = len(data[(data[col] < lower_bound) | (data[col] > upper_bound)])
        print(f"{col} has {num_outliers} outliers")
    
find_outliers(Gas_numeric)

num_connections has 17962 outliers
delivery_perc has 6 outliers
perc_of_active_connections has 41405 outliers
type_conn_perc has 27874 outliers
annual_consume has 18364 outliers
annual_consume_lowtarif_perc has 0 outliers
smartmeter_perc has 0 outliers
Year has 0 outliers

In [16]:
from scipy.stats import skew
numerical_columns = Gas.select_dtypes(include=['float64', 'int64']).columns

def check_skewness(data):
    skewness_result = pd.DataFrame({'Feature': numerical_columns, 'Skewness': [skew(data[col]) for col in numerical_columns]})
    return skewness_result
skewness_results = check_skewness(Gas)

print(skewness_results)

                      Feature  Skewness
0             num_connections  9.653379
1  perc_of_active_connections -8.895361
2              type_conn_perc -2.486269
3              annual_consume  3.548495
4             smartmeter_perc -0.230785
5                        Year -0.018770

In [ ]:
Gtrain = Gas[Gas['Year'] != 2020]
Gtest = Gas[Gas['Year'] == 2020]

In [17]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler


robust_scaler_num_connections = RobustScaler()
Gas['num_connections'] = robust_scaler_num_connections.fit_transform(Gas[['num_connections']])

min_max_scaler_perc_active_connections = MinMaxScaler()
Gas['perc_of_active_connections'] = min_max_scaler_perc_active_connections.fit_transform(Gas[['perc_of_active_connections']])

min_max_scaler_type_conn_perc = MinMaxScaler()
Gas['type_conn_perc'] = min_max_scaler_type_conn_perc.fit_transform(Gas[['type_conn_perc']])

min_max_scaler_smartmeter_perc = MinMaxScaler()
Gas['smartmeter_perc'] = min_max_scaler_smartmeter_perc.fit_transform(Gas[['smartmeter_perc']])

# for target variable 
robust_scaler_annual_consume = RobustScaler()
Gas['annual_consume'] = robust_scaler_annual_consume.fit_transform(Gas[['annual_consume']])

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns_to_exclude = ['num_connections', 'perc_of_active_connections', 'type_conn_perc',
                       'annual_consume','smartmeter_perc']

columns_to_scale = [col for col in Gas.columns if col not in columns_to_exclude]
Gas[columns_to_scale] = scaler.fit_transform(Gas[columns_to_scale])

In [19]:
Gas = pd.concat([Gas[columns_to_exclude], Gas[columns_to_scale]], axis=1)

In [20]:
Gas.columns

Index(['num_connections', 'perc_of_active_connections', 'type_conn_perc',
       'annual_consume', 'smartmeter_perc', 'zipcode_from', 'zipcode_to',
       'street', 'city', 'type_of_connection', 'Year',
       'net_manager_8716874000009', 'net_manager_8716892000005',
       'net_manager_8716892000005', 'net_manager_8716892000005',
       'net_manager_8716892000005', 'net_manager_Other',
       'purchase_area_GAS Gastransport Services (GASUNIE)',
       'purchase_area_NG Den Haag', 'purchase_area_Other',
       'purchase_area_Pseudo Gos Hoogland ENBU',
       'purchase_area_Pseudo Gos Houten ENBU',
       'purchase_area_Pseudo-GOS Dordrecht',
       'purchase_area_Pseudo-GOS Rotterdam'],
      dtype='object')

In [21]:
Gtrain = Gas.loc[:,~Gas.columns.duplicated(keep = 'first')]
Gtest = Gas.loc[:,~Gas.columns.duplicated(keep = 'first')]

In [23]:
Xgtrain = Gtrain.drop(['Year','annual_consume'], axis=1)
Ygtrain = Gtrain['annual_consume']
Xgtest = Gtest.drop(['Year','annual_consume'],axis =1)
Ygtest = Gtest['annual_consume']

In [24]:
print(Xgtrain.shape, Ygtrain.shape, Xgtest.shape, Ygtest.shape)

(285494, 19) (285494,) (0, 19) (0,)

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from xgboost import XGBRegressor
from sklearn.naive_bayes import GaussianNB


def split_train_evaluate_regression_models(X, y, test_size=0.2, random_state=42):
    """
    Splits the dataset, trains multiple regression models, and evaluates them using MAE, R2, and RMSE metrics.

    Parameters:
    - X: Features DataFrame
    - y: Target variable Series
    - test_size: Size of the test set (default: 0.2)
    - random_state: Random state for reproducibility (default: 42)

    Returns:
    - A DataFrame containing evaluation metrics for each model
    """
    # Train-test split

    # Initialize models
    models = {
        'Decision Tree Regressor': DecisionTreeRegressor(random_state=random_state),
        'Linear Regression': LinearRegression(),
        # 'Huber Regressor': HuberRegressor(epsilon=1.35),  # epsilon is a tuning parameter, adjust as needed
        'Gradient Boosting Regressor': GradientBoostingRegressor(random_state=random_state),
        'Random Forest Regressor': RandomForestRegressor(random_state=random_state),
        'LGBM Regressor': LGBMRegressor(random_state=random_state),
        'XGBoost Regressor': XGBRegressor(random_state=random_state),
        'NaiveBayes': GaussianNB()  
    }

    # Evaluate models
    results = []
    for model_name, model in models.items():
        # Train the model
        model.fit(X_train, y_train)

        # Make predictions
        y_pred = model.predict(X_test)

        # Calculate evaluation metrics
        mae = mean_absolute_error(y_test, y_pred)
        rmse = mean_squared_error(y_test, y_pred, squared=False)
        r2 = r2_score(y_test, y_pred)

        # Save results
        results.append({
            'Model': model_name,
            'MAE': mae,
            'RMSE': rmse,
            'R2': r2
        })

    # Create a DataFrame from the results
    results_df = pd.DataFrame(results)
    return results_df
result = split_train_evaluate_regression_models(Xgtrain, Ygtrain)
print(result)

                         Model       MAE      RMSE        R2
0      Decision Tree Regressor  0.403672  0.892273  0.530369
1            Linear Regression  0.611722  1.023216  0.382415
2  Gradient Boosting Regressor  0.552250  0.871340  0.552145
3      Random Forest Regressor  0.341471  0.654080  0.747638
4               LGBM Regressor  0.525504  0.817479  0.605801
5            XGBoost Regressor  0.489375  0.765127  0.654674